.about {
  color: #3D3D3D;
  padding: 0 5%;

  &__heading {
    font-size: 34px;
    line-height: 100px;
    font-weight: 800;
    letter-spacing: -0.68px;
  }

  &__text {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.4px;
    opacity: 1;
  }
}