.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__group {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  &__label {
    font-size: 20px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #A2A2A2;
    opacity: 1;
  }

  &__input {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 56px;
    font-weight: 500;
    padding-left: 10px;
    letter-spacing: 0.66px;
    color: #3D3D3D;
    border: 2px solid #fdd000;
    box-shadow: 0px 0px 25px #0000000D;
  }
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  background-color: #fdd000;
  border: none;
  font-size: 18px;
  color: #3D3D3D;
  cursor: pointer;
}
